<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{user.username}" id="username" placeholder="Username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{user.username}"></span>
    <label for="password">Password</label>
    <input type="password" th:field="*{user.password}" id="password" placeholder="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{user.password}"></span>
    <input type="submit" value="Update User">
</form>
</body>
</html>